
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');


html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

html > * {
  background: #fafafa url(../images/bckground-greyscale.svg);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

/* =======  HEADER STYLING ======= */

.header-logo {
  margin: 0;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: #ffffff;
  margin-bottom: 1em;
}

.menu-logo {
  grid-column: 2;
}

.menu-items {
  grid-row: 2;
  grid-column: 1 / span 3;
  margin-bottom: 1em;
}

.menu-items ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
}

.menu-items li {
  margin: 0;
}

.menu-items a {
  text-decoration: none;
  color: #b2b4b7;
}

.menu-items a:hover, .menu-items a:focus {
  color: #003941;
}

/* =======  FOOTER STYLING ======= */

.footer {
  font-size: 14px;
  margin: 0;
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 1em;
  color: #333333;
}

.footer img {
  width: 15px;
  margin: 0;
}

/* =======  P.1 OUR STORY STYLING ======= */


.our-story__container {
  margin-top: 50px;
}

.our-story__body {
  margin: 0 0.5em;
  line-height: 1.75;
  background: #ffffff;
  padding: 2em;
  font-size: 14px;
}

.our-story__header {
  font-size: 26px;
  font-weight: 700;
  color: #003941;
}

.our-story__ryan-quote {
  background: #003941;
  padding: 0.5em 1em;
  color: #ffffff;
  font-size: 14px;
}

.our-story__christie-quote {
  background: #c8858f;
  color: #ffffff;
  padding: 0.5em 1em;
  font-size: 14px;
}

.text-align-right {
  text-align: right;

}

.text-align-left {
  text-align: left;
}

/* =======  P.0 INDEX STYLING ======= */

.index-container {
  margin-top: 50px;
}

.countdown__body {
  padding: 0 0.5em 0.5em 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  background: #ffffff;
  border-radius: 5px;
  margin-top: -50px;
}

.countdown__clock {
  color: #c78690;
  font-size: 40px;
  font-family: 'EB Garamond', serif;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.index-notification {
  background: #ffffff;
  padding: 1em 1em 2em 1em;
  line-height: 1.25;
  font-size: 10px;
  text-align: center;
}

.index-venue {
  background: #ffffff;
  padding: 1em;
  text-align: center;
  font-size: 16px;
  margin-top: -25px;
}

.index-venue-address {
  line-height: 1.25;
  font-size: 24px;
  color: #c78690;
  padding-top: 5px;
}

.index-gift-message {
  background: #ffffff;
  padding: 1em;
  text-align: center;
}

.index-gift-message__body {
  font-size: 20px;
  color: #c78690;
  margin: 0 2em;
}


/* =======  P.0 RSVP STYLING ======= */

.rsvp-form {
  display: grid;
  background: #ffffff;
  padding: 1em 1em 0.5em 1em;
  display: grid;
  grid-template-columns: 1fr;
}

.rsvp-body {
  border: lightgray solid 1px;
  border-radius: 5px;
  padding: 1em;
  margin: 0 2em;
}

.rsvp-name {
  margin: 1em 0;
  font-size: 16px;
}
.rsvp-name input {
  width: 100%;
}

.rsvp-attendance {
  margin: 1em 0;
  font-size: 16px;
}

.rsvp-attendance-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.5em;
  text-align: center;
}

.rsvp-guests {
  font-size: 16px;
  padding-top: 20px;
}

.rsvp-guests input {
  width: 25%;
  margin-left: 10px;
}

.rsvp-message {
  font-size: 16px;
  margin: 1em 0;
}

.rsvp-message textarea {
  width: 100%;
}

.rsvp-submit button {
  background: #c78690;
  color: #ffffff;
  outline: 0;
  border-style: none;
  padding: 0.5em 1em;
  width: 100%;
  font-size: 16px;
}

.rsvp-submit button:hover, .rsvp-submit button:focus {
  background: #e0aab5;
}

.rsvp-submit {
  margin-bottom: 1em;
}

.rsvp-message {
  background: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
}


/* =======  P.2 VENUE STYLING ======= */

.venue-container {
  margin-top: 50px;
}

.venue-on-the-day {
  background: #ffffff;
  padding: 1em;
  text-align: center;
}

.rc-subheader {
  margin-top: 20px;
  font-size: 30px;
  font-family: 'EB Garamond', serif;
  line-height: 1;
  font-weight: 400;
  padding: 0.5em;
  color: #043940;

}

.venue-directions {
  background: #ffffff;
  padding: 1em;
  line-height: 1.5;
  font-size: 16px;
}

.venue-directions-body {
  margin: 0 2em;
}

.venue-nearby, .venue-transport {
  background: #ffffff;
  padding: 1em;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
}

.venue-nearby p, .venue-transport p {
  margin: 0;
}

a {
  color: #c78690;
}


/* =======  P.4 PHOTO STYLING ======= */

.photo-text {
  text-align: center;
  line-height: 1.25;
}


.photo-container {
  background: #ffffff;
  padding: 1em;
  border-radius: 5px;
  font-size: 12px;
  padding-bottom: 3em;
  margin-top: 50px;
}


#instafeed_2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#instafeed_2 img, #instafeed img {
  border-radius: 5px;
  margin: 0;
  display: block;
}

#instafeed {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* =======  P.X TITLE STYLING ======= */

.sec-title {
  width: 600px;
  height: auto;
  margin: 0 auto;
}

.sec-container {
  display: grid;
  grid-template-columns: 1fr;
  background: #ffffff;
}

.sec-container-padding {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  background: #ffffff;
}

.sec-sml {
  width: 300px;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
}

.sec-sml-l {
  width: 300px;
  height: auto;
  margin: 0;
  margin-top: 20px;
  padding-left: 2em;
}

.sec-med {
  width: 500px;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
}

.sec-rsvp {
  width: 350px;
  height: auto;
  margin: 0 auto;
}

.sec-logo {
  width: 400px;
  height: auto;
  margin: 0 auto;
}

.sec-container-sml {
  display: grid;
  grid-template-columns: 1fr;
  background: #ffffff;
}

/* =======  P.X THANKS PAGE STYLING ======= */

.thanks-container {
  background: #ffffff;
  padding: 1em;
  margin: 0 auto;
}

.thanks-header {
  font-size: 50px;
  text-align: center;
  font-family: 'EB Garamond', serif;
  padding: 0.5em 0 0.5em 0;
  color: #c78690;
}

.thanks-subheader {
  text-align: center;
  line-height: 1.5;
}

.thanks-assistants {
  display: block;
  margin: 0 auto;
  padding: 1em 0;
}